.popup-page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    height: 9px;
    width: 48px;
    padding: 0px;
    margin: 0;
    font-size: 12px;
    text-align: center;
}
